name: Python CI Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'

    - name: Install Dependencies
      run: |
        pip install -r requirements.txt

    - name: Test App Import
      run: |
        python -c "import app"

    - name: Build Docker Image
      run: |
        docker build -t python-devops-demo .

    - name: Login to Docker Hub
      run: echo "${{ secrets.Devops@2026 }}" | docker login -u "${{ secrets.vindock7254 }}" --password-stdin

    - name: Build Docker Image
      run: |
        docker build -t ${{ secrets.DOCKER_USERNAME }}/python-devops-demo .

    - name: Push Docker Image
      run: |
        docker push ${{ secrets.DOCKER_USERNAME }}/python-devops-demo
  

